PORT=8080
SUPABASE_URL=https://iabdtjpltxsnuxmikssk.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_FBclZ4_E6KUq2E1I13am1w_KExvlpHN
DATABASE_URL=postgres://postgres:<database-password>@db.iabdtjpltxsnuxmikssk.supabase.co:5432/postgres?sslmode=require
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
DEFAULT_CURRENCY=THB
